.fcm-make/
build/
extract/
fcm-make-as-parsed.cfg
fcm-make-on-success.cfg
fcm-make.log
preprocess/
monc_stdout/

submonc.sge.[oe]*
.*.sw*
*.nc
*.autogen
__pycache__/
.pytest_cache/

## exclude conversion matlab files included for reference
radiosonde_LEM*

## ignore core.d* output files
core.d*

## ignore tar files
*.tar

## ignore DATA/ folder
ASCOS/DATA/*
