
extract.ns = monc casim
#This will overide the default behaviour...

extract.path-excl[monc] = / components/casim/src/casim_stub.F90 components/petsc_solver/src/petsc_solver.F90
extract.path-incl[monc] = components model_core io misc testcases monc_driver.F90

extract.location{primary}[casim] = /home/vagrant/models/CASIM/r3849_monc_casim_process_dgs_dev/
$casim_revision{?} = 
extract.location[casim]  = 
extract.location{diff}[casim]  = 
extract.path-incl[casim] = src
extract.path-excl[casim] = / 
preprocess.prop{fpp.defs}[casim] = DEF_MODEL=MODEL_MONC MODEL_MONC=4
