
extract.ns = monc casim socrates
#This will overide the default behaviour...

extract.path-excl[monc] = / components/casim/src/casim_stub.F90 components/petsc_solver/src/petsc_solver.F90
extract.path-incl[monc] = components model_core io misc testcases monc_driver.F90

extract.location{primary}[casim] = fcm:casim.xm_br/dev/adrianhill/r4321_ticket_249_vn10.8_monc_casim_fixes
$casim_revision{?} = 4323
extract.location[casim]  = @$casim_revision
extract.location{diff}[casim]  = 
extract.path-incl[casim] = src
extract.path-excl[casim] = /
preprocess.prop{fpp.defs}[casim] = DEF_MODEL=MODEL_MONC MODEL_MONC=4
