
extract.ns = monc socrates
#This will overide the default behaviour...

extract.path-excl[monc] = /  components/casim/src/casim.F90 components/socrates_couple/src/socrates_couple_stub.F90 components/petsc_solver/src/petsc_solver.F90
extract.path-incl[monc] = components model_core io misc testcases monc_driver.F90

extract.location{primary}[socrates] = /home/adrian/models/socrates_trunk
$socrates_revision{?} = 
extract.location[socrates]  = 
extract.location{diff}[socrates]  = 
extract.path-incl[socrates] = src/modules_core src/radiance_core
extract.path-excl[socrates] = / 

